[project]
name = "cs294-2026-bootstrap"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
]

[dependency-groups]
dev = [
    "ipython>=9.10.0",
]
